[submodule "SymfonyBundle-php"]
	path = SymfonyBundle-php
	url = git@github.com:simplinion/auth-gen-server-php-symfony.git
[submodule "SwaggerClient-php"]
	path = SwaggerClient-php
	url = git@github.com:simplinion/auth-gen-php.git
[submodule "qt5cpp"]
	path = qt5cpp
	url = git@github.com:simplinion/auth-gen-client-qt5cpp.git
