[submodule "SymfonyBundle-php"]
	path = SymfonyBundle-php
	url = git@github.com:JohnAmadis/auth-php-symfony.git
[submodule "SwaggerClient-php"]
	path = SwaggerClient-php
	url = git@github.com:JohnAmadis/auth-php.git
[submodule "qt5cpp"]
	path = qt5cpp
	url = git@github.com:JohnAmadis/auth-qt5cpp.git
